{% extends "layouts/base.html" %}

{% block title %} Charts Morris {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">

{% endblock stylesheets %}


{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <!--[ daily sales section ] start-->
                    <div class="col-md-6 col-xl-4">
                        <div class="card daily-sales">
                            <div class="card-block">
                                <h6 class="mb-4"><b>Taux des Dépenses EPA/EPIC</b></h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>+4.7%</h3>
                                    </div>

                                    <div class="col-3 text-right">
                                        <p class="m-b-0"><b>2018</b></p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ daily sales section ] end-->
                    <!--[ Monthly  sales section ] starts-->
                    <div class="col-md-6 col-xl-4">
                        <div class="card Monthly-sales">
                            <div class="card-block">
                                <h6 class="mb-4"><b>Taux d'investissement</b></h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>-9%</h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0"><b>2018</b></p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Monthly  sales section ] end-->
                    <!--[ year  sales section ] starts-->
                    <div class="col-md-12 col-xl-4">
                        <div class="card yearly-sales">
                            <div class="card-block">
                                <h6 class="mb-4"> <b>Dépenses APU</b></h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>+14%</h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0"><b>2018</b></p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ year  sales section ] end-->


                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ Morris Chart ] start -->
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h5><b>Rapport de dépense des administrations</b></h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-bar-chart" style="height:300px"></div>
                            </div>
                        </div>
                    </div>
                    <!-- [ statistics year chart ] start -->
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <label class="label theme-bg2 text-white f-14 f-w-400 float-right">2018</label>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-6"><b>587</b></h3>
                                        <span class="d-block text-uppercase"><b>NOMBRE DE DIRECTTIONS</b></span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <label class="label theme-bg2 text-white f-14 f-w-400 float-right">2018</label>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-6"><b>16,629 M</b></h3>
                                        <span class="d-block text-uppercase"><b>Budget Total</b></span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card-block">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <label class="label theme-bg2 text-white f-14 f-w-400 float-right">2018</label>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-600"><b>6607</b></h3>
                                            <span class="d-block text-uppercase"><b>Nombre Transactions</b></span> 
                                    </div>
                                    
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- [ statistics year chart ] end -->
                    
                    
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
    <script src="/static/assets/js/pages/chart-morris-custom.js"></script>

{% endblock javascripts %}
